.cr-wrap {
	box-sizing: content-box;
	position: relative;
	display: block;
}

.cr-cr {
	display: inline-block;
	/* border: 24px solid transparent; */
}

cr-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	z-index: 1;
}

cr-board {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 0;
	background-size: cover;
	z-index: 1;
}

.cr-wrap.manipulable cr-board {
	cursor: pointer;
}

cr-board cr-square {
	position: absolute;
	top: 0;
	left: 0;
	width: 12.5%;
	height: 12.5%;
	pointer-events: none;
}

cr-board cr-square.move-dest {
	pointer-events: auto;
}

cr-board cr-square.last-move {
	will-change: transform;
}

.cr-wrap cr-piece {
	position: absolute;
	top: 0;
	left: 0;
	width: 12.5%;
	height: 12.5%;
	background-size: cover;
	z-index: 2;
	will-change: transform;
	pointer-events: none;
	/* transition: transform 1s ease; */
}

cr-board cr-piece.dragging {
	cursor: move;
	/* !important to override z-index from 3D piece inline style */
	z-index: 11 !important;
}

cr-piece.anim {
	z-index: 8;
}

cr-piece.fading {
	z-index: 1;
	opacity: 0.5;
}

.cr-wrap cr-piece.ghost {
	opacity: 0.3;
}

.cr-wrap cr-piece svg {
	overflow: hidden;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 2;
	opacity: 0.6;
}

/* .cr-wrap cg-auto-pieces,
.cr-wrap .cg-shapes,
.cr-wrap .cg-custom-svgs {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
} */

/* .cr-wrap cg-auto-pieces {
	z-index: 2;
}

.cr-wrap cg-auto-pieces piece {
	opacity: 0.3;
}

.cr-wrap .cg-shapes {
	overflow: hidden;
	opacity: 0.6;
	z-index: 2;
} */

/* .cr-wrap .cg-custom-svgs { */
	/* over piece.anim = 8, but under piece.dragging = 11 */
	/* z-index: 9;
} */

/* .cr-wrap .cg-custom-svgs svg {
	overflow: visible;
} */

/* .cr-wrap cr-coords {
	position: absolute;
	display: flex;
	pointer-events: none;
	opacity: 0.8;
	font-family: sans-serif;
	font-size: 9px;
} */

/* .cr-wrap cr-coords.ranks {
	left: 4px;
	top: -20px;
	flex-flow: column-reverse;
	height: 100%;
	width: 12px;
}

.cr-wrap cr-coords.ranks.black {
	flex-flow: column;
}

.cr-wrap cr-coords.ranks.left {
	left: -15px;
	align-items: flex-end;
}

.cr-wrap cr-coords.files {
	bottom: -4px;
	left: 24px;
	flex-flow: row;
	width: 100%;
	height: 16px;
	text-transform: uppercase;
	text-align: center;
}

.cr-wrap cr-coords.files.black {
	flex-flow: row-reverse;
}

.cr-wrap cr-coords cr-coord {
	flex: 1 1 auto;
} */

/* .cr-wrap cr-coords.files cr-coord {
	transform: translateX(12%) translateY(-3%);
} */

/* .cr-wrap cr-coords.ranks cr-coord {
	transform: translateY(39%);
}

.cr-wrap cr-coords.squares {
	bottom: 0;
	left: 0;
	text-transform: uppercase;
	text-align: right;
	flex-flow: column-reverse;
	height: 100%;
	width: 12.5%;
}

.cr-wrap cr-coords.squares.black {
	flex-flow: column;
}

.cr-wrap cr-coords.squares.left {
	text-align: left;
}

.cr-wrap cr-coords.squares cr-coord {
	padding: 6% 4%;
}

.cr-wrap cr-coords.squares.rank2 {
	transform: translateX(100%);
}

.cr-wrap cr-coords.squares.rank3 {
	transform: translateX(200%);
}

.cr-wrap cr-coords.squares.rank4 {
	transform: translateX(300%);
}

.cr-wrap cr-coords.squares.rank5 {
	transform: translateX(400%);
}

.cr-wrap cr-coords.squares.rank6 {
	transform: translateX(500%);
}

.cr-wrap cr-coords.squares.rank7 {
	transform: translateX(600%);
}

.cr-wrap cr-coords.squares.rank8 {
	transform: translateX(700%);
} */

.cr-wrap cr-piece.pawn.white {
	background-image: url("/piece_sets/chess7/wP.png");
}
.cr-wrap cr-piece.bishop.white {
	background-image: url("/piece_sets/chess7/wB.png");
}
.cr-wrap cr-piece.knight.white {
	background-image: url("/piece_sets/chess7/wN.png");
}
.cr-wrap cr-piece.rook.white {
	background-image: url("/piece_sets/chess7/wR.png");
}
.cr-wrap cr-piece.queen.white {
	background-image: url("/piece_sets/chess7/wQ.png");
}
.cr-wrap cr-piece.king.white {
	background-image: url("/piece_sets/chess7/wK.png");
}
.cr-wrap cr-piece.pawn.black {
	background-image: url("/piece_sets/chess7/bP.png");
}
.cr-wrap cr-piece.bishop.black {
	background-image: url("/piece_sets/chess7/bB.png");
}
.cr-wrap cr-piece.knight.black {
	background-image: url("/piece_sets/chess7/bN.png");
}
.cr-wrap cr-piece.rook.black {
	background-image: url("/piece_sets/chess7/bR.png");
}
.cr-wrap cr-piece.queen.black {
	background-image: url("/piece_sets/chess7/bQ.png");
}
.cr-wrap cr-piece.king.black {
	background-image: url("/piece_sets/chess7/bK.png");
}

cr-board {
	background-color: #f0d9b5;
	background-image: url("/board/horsey.jpg");
	/* background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4PSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIgogICAgIHZpZXdCb3g9IjAgMCA4IDgiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxnIGlkPSJhIj4KICA8ZyBpZD0iYiI+CiAgICA8ZyBpZD0iYyI+CiAgICAgIDxnIGlkPSJkIj4KICAgICAgICA8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBpZD0iZSIgb3BhY2l0eT0iMCIvPgogICAgICAgIDx1c2UgeD0iMSIgeT0iMSIgaHJlZj0iI2UiIHg6aHJlZj0iI2UiLz4KICAgICAgICA8cmVjdCB5PSIxIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBpZD0iZiIgb3BhY2l0eT0iMC4yIi8+CiAgICAgICAgPHVzZSB4PSIxIiB5PSItMSIgaHJlZj0iI2YiIHg6aHJlZj0iI2YiLz4KICAgICAgPC9nPgogICAgICA8dXNlIHg9IjIiIGhyZWY9IiNkIiB4OmhyZWY9IiNkIi8+CiAgICA8L2c+CiAgICA8dXNlIHg9IjQiIGhyZWY9IiNjIiB4OmhyZWY9IiNjIi8+CiAgPC9nPgogIDx1c2UgeT0iMiIgaHJlZj0iI2IiIHg6aHJlZj0iI2IiLz4KPC9nPgo8dXNlIHk9IjQiIGhyZWY9IiNhIiB4OmhyZWY9IiNhIi8+Cjwvc3ZnPg=='); */
}

/** Interactive board square colors */
cr-board cr-square.move-dest {
	/* background: radial-gradient(rgba(20, 85, 30, 0.5) 22%, #208530 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0); */
	background-image: url("/board/horsey.move-dest.png");
}
cr-board cr-square.premove-dest {
	background: radial-gradient(rgba(20, 30, 85, 0.5) 22%, #203085 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
}
cr-board cr-square.oc.move-dest {
	background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 0, 0.3) 80%);
}
cr-board cr-square.oc.premove-dest {
	background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.2) 80%);
}
cr-board cr-square.move-dest:hover {
	background: rgba(20, 85, 30, 0.3);
}
cr-board cr-square.premove-dest:hover {
	background: rgba(20, 30, 85, 0.2);
}
cr-board cr-square.last-move {
	/* background-color: rgba(155, 199, 0, 0.41); */
	background-image: url("/board/horsey.last-move.png");
}
cr-board cr-square.selected {
	/* background-color: rgba(20, 85, 30, 0.5); */
	background-image: url("/board/horsey.selected.png");
}
cr-board cr-square.check {
	background: radial-gradient(
		ellipse at center,
		rgba(255, 0, 0, 1) 0%,
		rgba(231, 0, 0, 1) 25%,
		rgba(169, 0, 0, 0) 89%,
		rgba(158, 0, 0, 0) 100%
	);
}
cr-board cr-square.current-premove {
	background-color: rgba(20, 30, 85, 0.5);
}

.cr-wrap cr-coords {
	display: block;
	width: 100%;
	height: 100%;
	user-select: none;
}

.cr-wrap cr-coords.files {
	height: 2rem;
}

.cr-wrap cr-coords cr-coord {
	position: absolute;
	color: white;
	font-family: sans-serif;
	z-index: 0;
}

.cr-wrap cr-coords.ranks cr-coord {
	/* left: -15px; */
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.cr-wrap cr-coords.files cr-coord {
	top: 100%;
	text-align: center;
    /* transform: translateY(5px); */
}

/** Alternating colors in rank/file/square labels */
/* .cr-wrap cr-coords:nth-child(odd) cr-coord:nth-child(even),
.cr-wrap cr-coords.squares:nth-child(even) cr-coord:nth-child(odd),
.cr-wrap.orientation-black cr-coords.files:nth-child(even) cr-coord:nth-child(odd),
.cr-wrap cr-coords.files:nth-child(even) cr-coord:nth-child(even) {
	color: rgba(72, 72, 72, 0.8);
}

.cr-wrap cr-coords:nth-child(odd) cr-coord:nth-child(odd),
.cr-wrap cr-coords.squares:nth-child(even) cr-coord:nth-child(even),
.cr-wrap.orientation-black cr-coords.files:nth-child(even) cr-coord:nth-child(even),
.cr-wrap cr-coords.files:nth-child(even) cr-coord:nth-child(odd) {
	color: rgba(255, 255, 255, 0.8);
} */
